
.board {
    display: grid;
    margin: 25px auto;
    box-sizing: border-box;
}

.board > .board__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bfbfbf;
    font-weight: bold;
    border-radius: 2px;
}

.board > .board__cell.checked {
    background: #efefef;
}
