
.switcher {
    margin: 0 auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.popupWrapper {
    position: fixed;
    display: flex;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popupWrapper > .popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 16px;

    display: block;
    z-index: 11;
    width: 70%;
    height: 20rem;
    background: white;
    box-sizing: border-box;

    border-radius: 10px;
    border: 1px solid #7d7d7d;
}

.popupWrapper > .popup > .hideButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: .9rem;
    width: 4rem;
    height: 1.2rem;
}

.popupWrapper > .popup > .icon {
    position: relative;
    top: -5rem;
    margin: 16px auto;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 10px solid white;
}

.popupWrapper > .popup > .hideButton.red {
    color: #f57f7f;
}

.popupWrapper > .popup > .icon.red,
.popupWrapper > .popup > .button_container > .button.red {
    background: #f57f7f;
}

.popupWrapper > .popup > .hideButton.green {
    color: #9cceaa;
}

.popupWrapper > .popup > .icon.green,
.popupWrapper > .popup > .button_container > .button.green {
    background: #9cceaa;
}

.popupWrapper > .popup > .hideButton.yellow {
    color: #e6b75c;
}

.popupWrapper > .popup > .icon.yellow,
.popupWrapper > .popup > .button_container > .button.yellow {
    background: #e6b75c;
}

.popupWrapper > .popup > .title {
    position: relative;
    top: -3.5em;
    margin: 0;
    text-align: center;
    font-weight: normal;
    color: #383838;
}

.popupWrapper > .popup > .paragraph {
    position: relative;
    top: -4em;
    color: #505050;
    text-align: center;
    padding: 0 16px;
    height: 5rem;
}

.popupWrapper > .popup > .button_container {
    position: relative;
    top: -1.8rem;
    height: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.popupWrapper > .popup > .button_container > .button {
    height: 2.7rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
}

.label_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2.7rem;
    border-radius: 10px;
    font-family: monospace;
    border: 2.5px solid #e3e3e3;
    background: #efefef;
    color: #333333;
    box-sizing: border-box;
}

.label_group {
    display: flex;
    margin: 0 25px;
    gap: 8px;
    justify-content: space-between;
}

.label_group.horizontal {
    flex-direction: row;
}

.label_group.vertical {
    flex-direction: column;
}

