
body {
    background-color: #ffffff!important;
}

.button_container {
    display: flex;
    height: 350px;
    gap: 20px;
    margin-bottom: 25px;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    padding: 0 16px;
}

.container > .title {
    text-align: center;
    font-size: 40px;
}

.container > .icon {
    margin: 0 auto;
}

.container > .version {
    text-align: center;
    margin: 0;
}

.button_container > .button {
    flex-grow: 0;
}

.button_container > .button:hover {
    box-shadow: inset 0 0 15px -5px #818181;
}

.button_container > .button.green {
    background: linear-gradient(180deg, #9cceaa 0%, #63d084 100%);
    color: white;
}

.button_container > .button.yellow {
    background: linear-gradient(180deg, #cebe9c 0%, #d0b06b 100%);
    color: white;
}

.button_container > .button.blue {
    background: linear-gradient(180deg, #57a1cf 0%, #2793d5 100%);
    color: white;
}

.button_container > .button.violet {
    background: linear-gradient(180deg, #9b61b9 0%, #9038be 100%);
    color: white;
}
